@use '../colors';

.heading {
  min-height: 720px;
  background-image: url("/static/images/heading-background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 20px;
  padding: 40px;
  margin: 0 20px;

  &__title {
    font-size: 62px;
    color: colors.$white;
    font-weight: 400;
    margin: 0;
  }

  &__data-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__data-label {
    font-size: 16px;
    color: colors.$white;
    font-weight: 200;
    text-align: left;
    margin: 0;
  }

  &__buttons-container {
    display: flex;
    gap: 20px;

    .catalog-button {
      background-color: colors.$lightBlue;
      color: colors.$labelBlack;
    }

    .about-us-button {
      background-color: transparent;
      border: 1px solid colors.$lightBlue;
      color: colors.$lightBlue;
    }
  }
}

.featured-products {
  padding: 20px 40px;

  &__title {
    font-size: 52px;
    color: colors.$labelBlack;
    font-weight: 400;
    margin: 0 20px 20px 20px;
  }

  &__products-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    padding: 20px;
  }
}

.shop-by-category {
  background-color: colors.$lightBlue;
  width: 100%;
  padding: 20px 40px;

  &__header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 20px 20px;
  }

  &__title {
    font-size: 52px;
    color: colors.$labelBlack;
    font-weight: 400;
    margin: 0;
  }

  &__buttons-container {
    gap: 10px;
  }

  &__nav-button {
    background-color: transparent;
    border-width: 0;
    font-size: 36px;

    &:hover {
      cursor: pointer;
    }
  }

  .nav-button-left {
    color: colors.$mainBlue;
  }

  .nav-button-right {
    color: colors.$darkBlue;
  }

  &__category-list {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 40px;
    padding: 20px 0;
    margin: 0 20px;
    scrollbar-width: none;
  }
}