<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>Processor:</span>
        <span>{{ details.processor }}</span>
    </div>
    <div class="product-tech-specs__list-cell-element">
        <span>RAM:</span>
        <span>{{ details.get_ram_display }}</span>
    </div>
</div>
<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>Storage:</span>
        <span>{{ details.get_storage_display }}</span>
    </div>
    <div class="product-tech-specs__list-cell-element">
        <span>Graphic card:</span>
        <span>{{ details.gpu }}</span>
    </div>
</div>