<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>Processor:</span>
        <span>{{ details.processor }}</span>
    </div>
    <div class="product-tech-specs__list-cell-element">
        <span>RAM:</span>
        <span>{{ details.ram }}GB</span>
    </div>
</div>
<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>Storage:</span>
        <span>{{ details.storage }}GB</span>
    </div>
    <div class="product-tech-specs__list-cell-element">
        <span>Graphic card:</span>
        <span>{{ details.gpu }}</span>
    </div>
</div>