<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>Wireless:</span>
        <span>{% if details.wireless %} Yes {% else %} No {% endif %}</span>
    </div>
    <div class="product-tech-specs__list-cell-element">
        <span>Noise cancelling:</span>
        <span>{% if details.noise_cancelling %} Yes {% else %} No {% endif %}</span>
    </div>
</div>
<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>Battery life:</span>
        <span>{{ details.battery_life }}mah</span>
    </div>
    <div class="product-tech-specs__list-cell-element">
        <span>Microphone:</span>
        <span>{% if details.microphone %} Yes {% else %} No {% endif %}</span>
    </div>
</div>