<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>Wireless:</span>
        <span>{{ details.wireless }}</span>
    </div>
    <div class="product-tech-specs__list-cell-element">
        <span>Noise cancelling:</span>
        <span>{{ details.noise_cancelling }}GB</span>
    </div>
</div>
<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>Battery life:</span>
        <span>{{ details.battery_life }}'</span>
    </div>
    <div class="product-tech-specs__list-cell-element">
        <span>Microphone:</span>
        <span>{{ details.microphone }}GB</span>
    </div>
</div>