<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>Switch type:</span>
        <span>{{ details.switch_type }}</span>
    </div>
    <div class="product-tech-specs__list-cell-element">
        <span>Keyboard layout:</span>
        <span>{{ details.keyboard_layout }}GB</span>
    </div>
</div>
<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>RGB lighting:</span>
        <span>{{ details.rgb_lighting }}GB</span>
    </div>
    <div class="product-tech-specs__list-cell-element">
        <span>Wireless:</span>
        <span>{{ details.wireless }}</span>
    </div>
</div>