<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>Switch type:</span>
        <span>{{ details.switch_type }}</span>
    </div>
    <div class="product-tech-specs__list-cell-element">
        <span>Keyboard layout:</span>
        <span>{{ details.keyboard_layout }}</span>
    </div>
</div>
<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>RGB lighting:</span>
        <span>{% if details.rgb_lighting %} Yes {% else %} No {% endif %}</span>
    </div>
    <div class="product-tech-specs__list-cell-element">
        <span>Wireless:</span>
        <span>{% if details.wireless %} Yes {% else %} No {% endif %}</span>
    </div>
</div>