<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>Power output:</span>
        <span>{{ details.power_output }}</span>
    </div>
    <div class="product-tech-specs__list-cell-element">
        <span>Bluetooth:</span>
        <span>{{ details.bluetooth }}</span>
    </div>
</div>
<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>Portable:</span>
        <span>{{ details.portable }}'</span>
    </div>
</div>