<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>Power output:</span>
        <span>{{ details.power_output }}</span>
    </div>
    <div class="product-tech-specs__list-cell-element">
        <span>Bluetooth:</span>
        <span>{% if details.bluetooth %} Yes {% else %} No {% endif %}</span>
    </div>
</div>
<div class="product-tech-specs__list-cell">
    <div class="product-tech-specs__list-cell-element">
        <span>Portable:</span>
        <span>{% if details.portable %} Yes {% else %} No {% endif %}</span>
    </div>
</div>