{% extends 'common/base.html' %}
{% load form_components %}
{% load button %}
{% load modal %}

{% block content %}
    <main class="delete-profile">
        <h1 class="delete-profile__title">Delete profile</h1>
        <form class="delete-profile__form" method="post" action="{% url 'delete-profile' request.user.pk %}">
            {% csrf_token %}
            {% for field in user_form %}
                {% if field.name != "profile_picture" %}
                    {% custom_input label=field.label value=field.value name=field.html_name input_type=field.widget_type disabled=True %}
                {% endif %}
            {% endfor %}
            {% for field in profile_form %}
                {% custom_input label=field.label value=field.value name=field.html_name input_type=field.widget_type disabled=True %}
            {% endfor %}
            {% button button_type="submit" label="Delete profile" color="#FFFFFF" background_color="#DD3B44" %}
        </form>
    </main>
{% endblock %}