{% extends 'common/base.html' %}
{% load form_components %}
{% load button %}

{% block content %}
    <main class="login">
        <h1 class="login__title">Login</h1>
        <form class="login__form" method="post">
            {% csrf_token %}
            {% custom_input input_type="email" field_id=form.username.id_for_label name=form.username.html_name label=form.username.label placeholder="Enter your email" errors=form.username.errors %}
            {% custom_input input_type="password" field_id=form.password.id_for_label name=form.password.html_name label=form.password.label placeholder="Enter your password" errors=form.password.errors %}
            {% if form.non_field_errors %}
                <p class="login__form-error">{{ form.non_field_errors.0 }}</p>
            {% endif %}
            {% button button_type="submit" label="Login" is_outline=False color="#FFFFFF" background_color="#5EB0FF" %}
            <a href="{% url 'register' %}" class="login__link">Don't have account? Create one here.</a>
        </form>
    </main>
{% endblock %}