{% extends 'common/base.html' %}

{% block content %}
    <main class="profile">
        <div class="profile__container">
            {% if profile.pk == request.user.pk %}
                <a class="profile__container-edit-button" href="{% url 'edit-profile' request.user.pk %}">
                    <i class="bi bi-pencil-fill"></i>
                </a>
                <a class="profile__container-delete-button" href="{% url 'delete-profile' request.user.pk %}">
                    <i class="bi bi-trash"></i>
                </a>
            {% endif %}
            <div class="profile__container-image-container">
                {% if object.profile_picture %}
                    <img src="{{ object.profile_picture.url }}" alt="test"/>
                {% else %}
                    <i class="bi bi-person-circle"></i>
                {% endif %}
            </div>
            <div class="profile__container-data-row">
                <p class="profile__container-data-row-label">Email: </p>
                <p class="profile__container-data-row-value">{{ object.user.email }}</p>
            </div>
            <div class="profile__container-data-row">
                <p class="profile__container-data-row-label">Username: </p>
                <p class="profile__container-data-row-value">{{ object.user.username }}</p>
            </div>
            <div class="profile__container-data-row">
                <p class="profile__container-data-row-label">Name: </p>
                <p class="profile__container-data-row-value">
                    {% if object.user.profile.first_name %}
                        {{ object.user.profile.first_name }}
                    {% endif %}
                    {% if object.user.profile.last_name %}
                        {{ object.user.profile.last_name }}
                    {% endif %}
                </p>
            </div>
            <div class="profile__container-data-row">
                <p class="profile__container-data-row-label">Date of birth: </p>
                <p class="profile__container-data-row-value">{{ object.user.profile.date_of_birth|date:'d.m.Y' }}</p>
            </div>
        </div>
    </main>
{% endblock %}