{% extends 'common/base.html' %}
{% block content %}
    <div class="profile">
        <div class="profile__image-container">
            <img src="{{ object.user.profile.profile_picture }}" alt="test"/>
        </div>
        <div class="profile__data-row">
            <p class="profile__data-row-label">Email: </p>
            <p class="profile__data-row-value">{{ object.user.email }}</p>
        </div>
        <div class="profile__data-row">
            <p class="profile__data-row-label">Username: </p>
            <p class="profile__data-row-value">{{ object.user.username }}</p>
        </div>
        <div class="profile__data-row">
            <p class="profile__data-row-label">Name: </p>
            <p class="profile__data-row-value">{{ object.user.profile.first_name }} {{ object.user.profile.last_name }}</p>
        </div>
        {% if profile.pk == request.user.pk %}
            <a href="{% url 'edit-profile' request.user.pk %}">Edit</a>
        {% endif %}
    </div>
{% endblock %}