{% extends 'common/base.html' %}
{% block content %}
    <div>
        {% for product in product_list %}
            <a href="#">
                <div>
                    <img alt="product-image" src="{{ product.image.url }}"/>
                </div>
                <h1>{{ product.title }}</h1>
                <p>{{ product.description }}</p>
                <span>{{ product.price }}</span>
                <form method="post">
                    {% csrf_token %}
                    {{ review_form }}
                </form>
            </a>
        {% empty %}
            <h1>No products</h1>
        {% endfor %}
    </div>
{% endblock %}