{% extends 'common/base.html' %}
{% load form_components %}
{% load button %}
{% load product_card %}

{% block content %}
    <div class="catalog">
        <div class="catalog__filters">
            <form class="catalog__filters-category-filter">
                {% custom_select field_id="category" label="Category" name="category" options=category_filter_form.category.field.choices value=request.GET.category is_required=False %}
                {% button button_type="submit" label="Filter" color="#FFFFFF" background_color="#5EB0FF" %}
            </form>
            <form class="catalog__filters-search-filter">
                {% custom_input field_id="search" label="Search" value=request.GET.name name="name" input_type="text" placeholder="Enter product name" is_required=False %}
                {% button button_type="submit" label="Search" color="#FFFFFF" background_color="#5EB0FF" %}
            </form>
            {% if request.GET.category or request.GET.name %}
                <div class="catalog__filters-clear-filters">
                    {% url 'catalog' as catalog_url %}
                    {% button href=catalog_url label="Clear filters" color="#FFFFFF" background_color="#DD3B44" %}
                </div>
            {% endif %}
        </div>
        <div class="catalog__list">
            {% for product in product_list %}
                {% url 'product-details' product_slug=product.slug as product_url %}
                {% product_card href=product_url product_name=product.name image=product.images.first.image.url price=product.price %}
            {% empty %}
                <h1>No products</h1>
            {% endfor %}
        </div>
    </div>
{% endblock %}