.navigation {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.navigation__item-container {
  display: flex;
  flex: 1;
  list-style: none;
  align-items: center;
}
.navigation__item {
  color: #5EB0FF;
  text-decoration: none;
  padding: 10px 10px;
}
.navigation__item:hover {
  text-decoration: underline;
}
.navigation__cart-container, .navigation__orders-container {
  padding: 7px 8px;
  list-style: none;
  border: 3px solid #5EB0FF;
  border-radius: 50%;
  margin-right: 20px;
}
.navigation__cart, .navigation__orders {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__cart .bi, .navigation__orders .bi {
  font-size: 20px;
  line-height: 1;
  color: #5EB0FF;
}
.navigation__cart .badge, .navigation__orders .badge {
  background-color: #DD3B44;
}
.navigation__profile-container {
  position: relative;
  list-style: none;
}
.navigation__profile-container:hover {
  cursor: pointer;
}
.navigation__profile {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.navigation__profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navigation__profile .bi {
  font-size: 44px;
  line-height: 1;
  color: #5EB0FF;
}
.navigation__profile-dialog {
  position: absolute;
  flex-direction: column;
  background-color: #FFFFFF;
  right: 0;
  top: 53px;
  padding: 10px;
  border-radius: 20px;
  width: max-content;
  box-shadow: 0 10px 29px -15px rgba(0, 0, 0, 0.75);
  z-index: 2;
}
.navigation__profile-dialog-arrow {
  position: absolute;
  background-color: #FFFFFF;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  right: 16px;
  top: -6px;
}
.navigation__profile-dialog-row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  text-decoration: none;
  gap: 10px;
  align-items: center;
}
.navigation__profile-dialog-row:hover {
  background-color: #E6F3FF;
}
.navigation__profile-dialog-row:only-child {
  border-radius: 10px;
}
.navigation__profile-dialog-row:first-child:not(:only-child) {
  border-radius: 10px 10px 0 0;
}
.navigation__profile-dialog-row:last-child:not(:only-child) {
  border-radius: 0 0 10px 10px;
}
.navigation__profile-dialog-row:not(:last-child) {
  border-bottom: 1px solid #BDDDFC;
}
.navigation__profile-dialog-row i {
  font-size: 32px;
  color: #5EB0FF;
  line-height: 1;
  padding: 0 6px;
}
.navigation__profile-dialog-row img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.navigation__profile-dialog-row-data {
  display: flex;
  flex-direction: column;
}
.navigation__profile-dialog-row-title {
  font-size: 16px;
  font-weight: 700;
  color: #393939;
}
.navigation__profile-dialog-row-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}

.heading {
  min-height: 720px;
  background-image: url("/static/images/heading-background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 20px;
  padding: 40px;
  margin: 0 20px;
}
.heading__title {
  font-size: 62px;
  color: #FFFFFF;
  font-weight: 400;
  margin: 0;
}
.heading__data-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.heading__data-label {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 200;
  text-align: left;
  margin: 0;
}
.heading__buttons-container {
  display: flex;
  gap: 20px;
}
.heading__buttons-container .catalog-button {
  background-color: #BDDDFC;
  color: #393939;
}
.heading__buttons-container .about-us-button {
  background-color: transparent;
  border: 1px solid #BDDDFC;
  color: #BDDDFC;
}

.featured-products {
  padding: 20px 40px;
}
.featured-products__title {
  font-size: 52px;
  color: #393939;
  font-weight: 400;
  margin: 0 20px 20px 20px;
}
.featured-products__products-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  padding: 20px;
}

.shop-by-category {
  background-color: #BDDDFC;
  width: 100%;
  padding: 20px 40px;
}
.shop-by-category__header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px 20px;
}
.shop-by-category__title {
  font-size: 52px;
  color: #393939;
  font-weight: 400;
  margin: 0;
}
.shop-by-category__buttons-container {
  gap: 10px;
}
.shop-by-category__nav-button {
  background-color: transparent;
  border-width: 0;
  font-size: 36px;
}
.shop-by-category__nav-button:hover {
  cursor: pointer;
}
.shop-by-category .nav-button-left {
  color: #5EB0FF;
}
.shop-by-category .nav-button-right {
  color: #384959;
}
.shop-by-category__category-list {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  gap: 40px;
  padding: 20px 0;
  margin: 0 20px;
  scrollbar-width: none;
}

.about-page {
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-page__title {
  font-size: 52px;
  color: #393939;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
.about-page__section {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 6px;
}
.about-page__section-title {
  font-size: 26px;
  color: #384959;
  font-weight: 400;
  margin-bottom: 10px;
}
.about-page__section-title i {
  line-height: 1;
  color: #5EB0FF;
}
.about-page__section-paragraph {
  font-size: 16px;
  color: #384959;
  font-weight: 400;
}
.about-page__section-list li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 10px;
  list-style: none;
}
.about-page__section-list li::before {
  content: "\f26e";
  font-family: "bootstrap-icons";
  position: absolute;
  left: 0;
  top: 3px;
  color: #5EB0FF;
  font-size: 16px;
  line-height: 1;
}
.about-page__section-list li:hover::before {
  transform: scale(1.4);
}

.contact-page {
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-page__title {
  font-size: 52px;
  color: #393939;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
.contact-page__section {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 6px;
}
.contact-page__section-title {
  font-size: 26px;
  color: #384959;
  font-weight: 400;
  margin-bottom: 10px;
}
.contact-page__section-title i {
  line-height: 1;
  color: #5EB0FF;
}
.contact-page__section-paragraph {
  font-size: 16px;
  color: #384959;
  font-weight: 400;
}
.contact-page__section-link {
  font-size: 16px;
  color: #5EB0FF;
  font-weight: 400;
  text-decoration: none;
}

.profile {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 8px;
  background-color: #FFFFFF;
  justify-content: center;
  max-width: max-content;
  justify-self: center;
  position: relative;
}
.profile__edit-button, .profile__delete-button {
  position: absolute;
  right: 20px;
  top: -12px;
  padding: 5px;
  background-color: #5EB0FF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.profile__edit-button i, .profile__delete-button i {
  font-size: 14px;
  line-height: 1;
  color: #FFFFFF;
}
.profile__edit-button:hover, .profile__delete-button:hover {
  cursor: pointer;
}
.profile__delete-button {
  right: -12px;
  background-color: #DD3B44;
}
.profile__image-container {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.profile__image-container img {
  width: 100%;
  height: 100%;
}
.profile__image-container i {
  font-size: 80px;
  color: #5EB0FF;
  line-height: 1;
}
.profile__data-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}
.profile__data-row-label {
  font-size: 18px;
  font-weight: 400;
  color: #707070;
  margin: 0;
}
.profile__data-row-value {
  font-size: 18px;
  font-weight: 400;
  color: #393939;
  margin: 0;
}

.profile-form-container {
  margin: 60px;
  position: relative;
}
.profile-form-container .clear-profile-picture__button {
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  right: 52%;
  top: -10px;
}
.profile-form-container .clear-profile-picture__button-icon {
  font-size: 24px;
  line-height: 1;
  background-color: #DD3B44;
  border-radius: 50%;
  color: #FFFFFF;
}
.profile-form-container .clear-profile-picture__button:hover {
  cursor: pointer;
}
.profile-form-container .profile-form {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.profile-form-container .profile-form__profile-picture {
  flex: 1;
  display: flex;
  position: relative;
}
.profile-form-container .profile-form__profile-picture-label {
  display: flex;
  flex: 1;
  position: relative;
  background-color: #BDBDBD;
  aspect-ratio: 1/1;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.profile-form-container .profile-form__profile-picture-label:hover {
  cursor: pointer;
}
.profile-form-container .profile-form__profile-picture-label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-form-container .profile-form__profile-picture-label #profile-picture-placeholder {
  position: absolute;
  font-size: 52px;
  line-height: 1;
  color: #707070;
}
.profile-form-container .profile-form__profile-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: max-content;
}
.profile-form-container .profile-form__profile-data-title {
  font-size: 32px;
  color: #393939;
  font-weight: 400;
  margin-bottom: 20px;
}
.profile-form-container .profile-form__profile-data button {
  display: flex;
  margin-top: 20px;
  align-self: flex-start;
}

.delete-profile-form {
  display: flex;
  flex-direction: column;
  margin: 60px;
}
.delete-profile-form__title {
  font-size: 32px;
  color: #393939;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
.delete-profile-form button {
  align-self: center;
}

.catalog {
  margin: 0 40px;
}
.catalog__filters {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.catalog__filters-category-filter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  min-width: 300px;
}
.catalog__filters-search-filter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.catalog__filters-category-filter button, .catalog__filters-search-filter button {
  margin-top: 7px;
}
.catalog__list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 40px;
}

.product-form {
  margin: 60px;
}
.product-form__title {
  font-size: 32px;
  color: #393939;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
.product-form button {
  display: flex;
  justify-self: center;
  margin-top: 20px;
}

.product-delete {
  display: flex;
  flex-direction: row;
  margin: 40px;
  gap: 60px;
}
.product-delete__image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 420px;
  max-width: 420px;
}
.product-delete #main-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.product-delete__thumbnails {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
.product-delete__thumbnails-indicator {
  position: absolute;
  border: 2px solid #BDDDFC;
  border-radius: 10px;
  pointer-events: none;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  z-index: 2;
}
.product-delete__thumbnails img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.product-delete__thumbnails img:not(.thumbnail-active):hover {
  transform: scale(1.1);
}
.product-delete__form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-delete__form-title {
  font-size: 32px;
  color: #393939;
  font-weight: 400;
}
.product-delete__form-subtitle {
  font-size: 24px;
  color: #393939;
  font-weight: 400;
}
.product-delete__form button {
  align-self: flex-start;
}

.product-details {
  display: flex;
  flex-direction: row;
  gap: 60px;
  width: 100%;
  padding: 40px;
}
.product-details__image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 420px;
}
.product-details #main-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.product-details__thumbnails {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
.product-details__thumbnails-indicator {
  position: absolute;
  border: 2px solid #BDDDFC;
  border-radius: 10px;
  pointer-events: none;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  z-index: 2;
}
.product-details__thumbnails img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.product-details__thumbnails img:not(.thumbnail-active):hover {
  transform: scale(1.1);
}
.product-details__data {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-details__data-category {
  font-size: 16px;
  color: #BDDDFC;
  background-color: #384959;
  font-weight: 600;
  padding: 6px 10px;
  width: max-content;
  border-radius: 20px;
}
.product-details__data-name {
  font-size: 38px;
  color: #393939;
  font-weight: 700;
  margin: 0;
}
.product-details__data-description {
  font-size: 16px;
  color: #393939;
  font-weight: 400;
  margin: 0;
}
.product-details__data-price-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.product-details__data-price {
  font-size: 32px;
  color: #5EB0FF;
  font-weight: 700;
}
.product-details__delivery-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid #BDDDFC;
  border-radius: 10px;
}
.product-details__delivery-data-element {
  display: flex;
  align-items: center;
  gap: 5px;
}
.product-details__delivery-data-element i {
  color: #5EB0FF;
  font-size: 22px;
}
.product-details__delivery-data .delivery-element-label {
  font-size: 14px;
  color: #393939;
  font-weight: 400;
}

.product-tech-specs {
  padding: 40px;
}
.product-tech-specs__title {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 40px 0;
}
.product-tech-specs__list {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.product-tech-specs__list-cell {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-tech-specs__list-cell-element {
  display: flex;
  gap: 10px;
  align-items: center;
}
.product-tech-specs__list-cell-element span:first-of-type {
  font-size: 18px;
  font-weight: 400;
  color: #707070;
}
.product-tech-specs__list-cell-element span:last-of-type {
  font-size: 18px;
  font-weight: 700;
  color: #393939;
}

.reviews {
  width: 100%;
  padding: 0 40px;
}
.reviews__title {
  font-size: 32px;
  font-weight: 700;
  margin: 40px 0;
}
.reviews__container {
  display: flex;
  flex-direction: column;
}
.reviews__container-empty-label {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #707070;
  margin: 20px;
}
.reviews__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.reviews__form button {
  margin-top: 7px;
}
.reviews__login {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.reviews__login-message {
  font-size: 16px;
  font-weight: 700;
  color: #393939;
}

.separator {
  height: 2px;
  background-color: #BDDDFC;
  width: 100%;
  margin-top: auto;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin: 40px;
  max-width: 635px;
}
.cart__header {
  display: flex;
  flex-direction: row;
  margin: 0 0 20px 0;
  align-items: center;
  width: 100%;
}
.cart__header-title {
  font-size: 52px;
  font-weight: 400;
  color: #393939;
  margin: 0;
}
.cart__product-list {
  padding: 20px;
  background-color: #FFFFFF;
  width: 100%;
}
.cart__product-list-header {
  display: grid;
  grid-template-columns: 2fr 120px 120px 80px;
  column-gap: 20px;
  padding: 10px 20px;
  border-bottom: 1px solid #E6F3FF;
}
.cart__product-list-header-label {
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  text-align: left;
}
.cart__product-list-header-label:nth-child(2), .cart__product-list-header-label:nth-child(3) {
  text-align: center;
}
.cart__product-list-empty {
  font-size: 24px;
  font-weight: 700;
  color: #393939;
}
.cart__footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 20px;
}

.orders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 40px;
}

.order-details {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 0 40px;
}
.order-details__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #E6F3FF;
}
.order-details__header-title {
  font-size: 32px;
  font-weight: 400;
  color: #393939;
  margin: 0;
}
.order-details__header-date-label {
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}
.order-details__header-date-value {
  color: #393939;
}
.order-details__status {
  padding: 20px;
  border-bottom: 2px solid #E6F3FF;
}
.order-details__status .order-status {
  font-size: 16px;
  font-weight: 400;
  color: #393939;
  padding: 3px 8px;
  height: max-content;
  border-radius: 10px;
}
.order-details__status .order-status--pending {
  background-color: #BDDDFC;
}
.order-details__status .order-status--processing {
  background-color: #FCE7BD;
}
.order-details__status .order-status--delivered {
  background-color: #BDF5DC;
}
.order-details__status form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.order-details__status form .select {
  flex: 1;
}
.order-details__status form button {
  margin-top: 7px;
}
.order-details__products {
  display: flex;
  flex-direction: column;
}
.order-details__products-product {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-bottom: 1px solid #E6F3FF;
}
.order-details__products-product:last-of-type {
  border-bottom: 0;
}
.order-details__products-product-image {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.order-details__products-product-image img {
  width: 100%;
  height: 100%;
}
.order-details__products-product-data {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.order-details__products-product-name {
  font-size: 16px;
  font-weight: 700;
  color: #5EB0FF;
}
.order-details__products-product-quantity {
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}
.order-details__products-product-price {
  font-size: 16px;
  font-weight: 400;
  color: #393939;
}
.order-details__total {
  display: flex;
  padding: 20px;
  border-top: 2px solid #E6F3FF;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.order-details__total-label {
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}
.order-details__total-value {
  font-size: 16px;
  font-weight: 700;
  color: #393939;
}

.button {
  padding: 14px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  line-height: 10px;
  max-height: max-content;
  text-align: center;
}
.button:hover {
  cursor: pointer;
}
.button__outline {
  border: 1px solid;
  border-radius: 8px;
  background-color: transparent;
}
.button__small {
  padding: 10px 20px;
}
.button.disabled {
  background-color: #BDBDBD;
  color: #FFFFFF;
  cursor: default;
}

.checkbox__label {
  font-size: 16px;
  color: #393939;
  font-weight: 400;
  margin-bottom: 0;
}

.file-input__label {
  font-size: 16px;
  color: #393939;
  font-weight: 400;
  margin-bottom: 0;
}

.input {
  flex: 1;
}
.input__label {
  font-size: 16px;
  color: #393939;
  font-weight: 400;
  margin-bottom: 0;
}

.select__label {
  font-size: 16px;
  color: #393939;
  font-weight: 400;
  margin-bottom: 0;
}

.textarea__label {
  font-size: 16px;
  color: #393939;
  font-weight: 400;
  margin-bottom: 0;
}

.modal-content {
  padding: 20px;
}
.modal__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.modal__header-title {
  font-size: 22px;
  font-weight: 700;
  color: #393939;
  margin: 0;
}
.modal__header-close {
  align-self: flex-start;
  padding: 7px 0;
}
.modal__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #393939;
}
.modal__actions {
  display: flex;
  gap: 20px;
}

.category-card {
  position: relative;
  height: 500px;
  min-width: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  justify-content: flex-end;
  filter: grayscale(100%);
  opacity: 0.9;
  padding: 0;
}
.category-card__fade {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000000, transparent 70%);
}
.category-card__label {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 62px;
  color: #FFFFFF;
  font-weight: 600;
  margin: 0;
  z-index: 1;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.active {
  filter: grayscale(0);
  opacity: 1;
  transition: transform 0.3s ease;
}
.active:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.product-card {
  width: 350px;
  height: 400px;
  overflow: hidden;
  transition: transform 0.3s ease;
  text-decoration: none;
}
.product-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.product-card__image {
  width: 100%;
  height: calc(100% - 44px);
  border-radius: 20px;
}
.product-card__data {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.product-card__data-product-name {
  font-size: 16px;
  color: #393939;
  font-weight: 400;
}
.product-card__data-product-price {
  font-size: 16px;
  color: #DD3B44;
  font-weight: 400;
}

.review-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #5EB0FF;
  border-radius: 10px;
  max-width: max-content;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  position: relative;
}
.review-card__buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: -10px;
  top: -10px;
  gap: 5px;
}
.review-card__buttons-edit, .review-card__buttons-delete button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  height: 21px;
  width: 21px;
}
.review-card__buttons-edit i, .review-card__buttons-delete button i {
  line-height: 1;
  margin-top: 1px;
  color: #FFFFFF;
}
.review-card__buttons-edit {
  background-color: #5EB0FF;
}
.review-card__buttons-edit i {
  font-size: 12px;
}
.review-card__buttons-delete button {
  background-color: #DD3B44;
}
.review-card__buttons-delete button i {
  font-size: 20px;
}
.review-card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.review-card__header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.review-card__header i {
  font-size: 40px;
  color: #5EB0FF;
}
.review-card__header-data {
  display: flex;
  flex-direction: column;
}
.review-card__header-data-author {
  font-size: 16px;
  font-weight: 700;
  color: #393939;
}
.review-card__header-data-date {
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}
.review-card__content {
  font-size: 14px;
  font-weight: 400;
  color: #393939;
  margin: 0;
}
.review-card__form {
  display: none;
  flex-direction: row;
  align-items: center;
}
.review-card__form button {
  margin: 7px 0 0 10px;
}
.review-card__form-cancel {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #DD3B44;
  color: #DD3B44;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  background-color: transparent;
  line-height: 10px;
  max-height: max-content;
}
.review-card__form-cancel:hover {
  cursor: pointer;
}

.cart-product-card {
  display: grid;
  grid-template-columns: 2fr 120px 120px 80px;
  column-gap: 20px;
  align-items: center;
  border-top: 1px solid #5EB0FF;
  padding: 10px 20px;
  background-color: #FFFFFF;
}
.cart-product-card__data {
  display: flex;
  align-items: center;
  justify-self: center;
}
.cart-product-card__data:first-of-type {
  justify-self: flex-start;
}
.cart-product-card__data-image {
  width: 50px;
  height: 50px;
}
.cart-product-card__data-image img {
  width: 100%;
  height: 100%;
}
.cart-product-card__data-value {
  font-size: 16px;
  font-weight: 400;
  color: #393939;
}
.cart-product-card form {
  align-self: center;
}
.cart-product-card button {
  display: flex;
  align-self: center;
}
.cart-product-card button i {
  font-size: 20px;
}

.order {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  background-color: #FFFFFF;
}
.order__header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #E6F3FF;
  padding: 10px;
  justify-content: space-between;
}
.order__header-data {
  display: flex;
  flex-direction: column;
}
.order__header-data-title {
  font-size: 18px;
  font-weight: 700;
  color: #393939;
}
.order__header-data-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}
.order__header-status {
  font-size: 14px;
  font-weight: 400;
  color: #393939;
  padding: 3px 8px;
  height: max-content;
  border-radius: 10px;
}
.order__header-status--pending {
  background-color: #BDDDFC;
}
.order__header-status--processing {
  background-color: #FCE7BD;
}
.order__header-status--delivered {
  background-color: #BDF5DC;
}
.order__body {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #E6F3FF;
  padding: 10px;
}
.order__body-items-count {
  font-size: 16px;
  font-weight: 700;
  color: #393939;
}
.order__body-items {
  display: flex;
  flex-direction: row;
}
.order__body-items span {
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}
.order__footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.order__footer-total-price {
  font-size: 16px;
  font-weight: 700;
  color: #393939;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #E6F3FF;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
