.catalog {
  flex: 1;
  margin: 0 40px;

  &__filters {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &-category-filter {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      min-width: 300px;
    }

    &-search-filter {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      width: 100%;
    }

    &-category-filter button,
    &-search-filter button {
      margin-top: 7px;
    }

    &-clear-filters {
      display: flex;
      min-width: max-content;
      margin-top: 23px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 40px;

    &-empty-message {
      width: 100%;
      text-align: center;
    }
  }
}