@use "../colors";

.product-form {
  margin: 60px;

  &__title {
    font-size: 32px;
    color: colors.$labelBlack;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
  }

  button {
    display: flex;
    justify-self: center;
    margin-top: 20px;
  }
}