@use '../colors';

.button {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;
  border: none;
  line-height: 10px;
  max-height: max-content;

  &:hover {
    cursor: pointer;
  }

  &__outline {
    border: 1px solid;
    border-radius: 8px;
    background-color: transparent;
  }

  &__small {
    padding: 5px 10px;
  }

  &.disabled {
    background-color: colors.$lightGray;
    color: colors.$white;
    cursor: default;
  }
}