@use "../colors";

.review-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid colors.$mainBlue;
  border-radius: 10px;
  max-width: max-content;
  margin-bottom: 20px;
  background-color: colors.$white;
  position: relative;

  &__buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: -10px;
    top: -10px;
    gap: 5px;

    &-edit, &-delete button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 50%;
      height: 21px;
      width: 21px;

      i {
        line-height: 1;
        margin-top: 1px;
        color: colors.$white;
      }
    }

    &-edit {
      background-color: colors.$mainBlue;

      i {
        font-size: 12px;
      }
    }

    &-delete button {
      background-color: colors.$mainRed;

      i {
        font-size: 20px;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    &-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    i {
      font-size: 40px;
      color: colors.$mainBlue;
    }

    &-data{
      display: flex;
      flex-direction: column;

      &-author {
        font-size: 16px;
        font-weight: 700;
        color: colors.$labelBlack;
      }

      &-date {
        font-size: 14px;
        font-weight: 400;
        color: colors.$labelGray;
      }
    }
  }

  &__content {
    font-size: 14px;
    font-weight: 400;
    color: colors.$labelBlack;
    margin: 0
  }

  &__form {
    display: none;
    flex-direction: row;
    align-items: center;

    button {
      margin: 7px 0 0 10px;
    }

    &-cancel {
      padding: 10px 20px;
      border-radius: 8px;
      border: 1px solid colors.$mainRed;
      color: colors.$mainRed;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      background-color: transparent;
      line-height: 10px;
      max-height: max-content;

      &:hover {
        cursor: pointer;
      }
    }
  }
}