@use "../colors";

.textarea {
  &__label {
    font-size: 16px;
    color: colors.$labelBlack;
    font-weight: 400;
    margin-bottom: 0;

    &-required {
      font-size: 16px;
      color: colors.$mainRed;
      font-weight: 400;
    }
  }
}