{% extends 'common/base.html' %}
{% load static %}
{% load button %}
{% load form_components %}
{% block content %}
    <div class="product-form">
        <h1 class="product-form__title">Add product</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% custom_file_input name="images" label="Product images" multiple=True errors=image_field_errors %}
            {% include 'products/forms/product-base-form.html' with form=product_form %}
            {% for _, details_form in product_details_forms.items %}
                {% include 'products/forms/details-form.html' with form=details_form %}
            {% endfor %}
            {% button button_type="submit" label="Add product" color="#FFFFFF" background_color="#5EB0FF" %}
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/product-form-page.js' %}"></script>
{% endblock %}