{% extends 'common/base.html' %}
{% load static %}
{% load button %}
{% load form_components %}
{% block content %}
    <section class="product-details">
        <div class="product-details__image-container">
            <img id="main-image" alt="product-image" src="{{ product.images.first.image.url }}"/>
            <div class="product-details__thumbnails">
                <div id="thumbnail-indicator" class="product-details__thumbnails-indicator"></div>
                {% for img in product.images.all %}
                <img
                    alt="product-thumbnail"
                    class="product-thumbnail"
                    src="{{ img.image.url }}"
                >
            {% endfor %}
            </div>
        </div>
        <div class="product-details__data">
            <span class="product-details__data-category">{{ product.category|capfirst }}</span>
            <h1 class="product-details__data-name">{{ product.name }}</h1>
            <p class="product-details__data-description">{{ product.description }}</p>
            <div class="separator"></div>
            <div class="product-details__data-price-container">
                <span class="product-details__data-price">{{ product.price }}$</span>
                {% if user.is_staff %}
                    {% url 'product-edit' product_slug=product.slug as edit_product_page_url %}
                    {% button href=edit_product_page_url label="Edit product" color="#FFFFFF" background_color="#5EB0FF" %}
                    {% url 'product-delete' product_slug=product.slug as delete_product_page_url %}
                    {% button href=delete_product_page_url label="Delete product" data_toggle="modal" data_target="#delete-product-modal" is_outline=True color="#D6674B" %}
                {% else %}
                    {% url 'add-to-cart' product_slug=product.slug as add_to_cart_url %}
                    <form method="post" action="{{ add_to_cart_url }}">
                        {% csrf_token %}
                        {% button button_type="submit" label="Add to cart" color="#FFFFFF" background_color="#5EB0FF" %}
                    </form>
                {% endif %}
            </div>
            <div class="product-details__delivery-data">
                <div class="product-details__delivery-data-element">
                    <i class="bi bi-truck"></i>
                    <span class="delivery-element-label">Free Delivery</span>
                </div>
                <div class="product-details__delivery-data-element">
                    <i class="bi bi-shield-check"></i>
                    <span class="delivery-element-label">2 years warranty</span>
                </div>
                <div class="product-details__delivery-data-element">
                    <i class="bi bi-truck"></i>
                    <span class="delivery-element-label">Free Delivery</span>
                </div>
            </div>
        </div>
    </section>
    <div class="separator"></div>
    <section class="product-tech-specs">
        <h2 class="product-tech-specs__title">Technical specifications</h2>
        <div class="product-tech-specs__list">
            {% include details_template with details=details %}
        </div>
    </section>
    <div class="separator"></div>
    <section class="reviews">
        <h2 class="reviews__title">Reviews</h2>
        <div class="reviews__container">
            {% for review in product.reviews.all %}
                {% include "components/review-card.html" with user=request.user review=review %}
            {% empty %}
                <span class="reviews__container-empty-label">No reviews</span>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
            {% else %}
                <form class="reviews__form" method="post" action="{% url 'product-details' product_slug=product.slug %}">
                    {% csrf_token %}
                    {% custom_input field_id=review_form.content.id_for_label name=review_form.content.html_name label=review_form.content.label placeholder=review_form.content.field.widget.attrs.placeholder %}
                    {% button button_type="submit" label="Add review" color="#393939" background_color="#88BDF2" %}
                </form>
            {% endif %}
        {% else %}
            <div class="reviews__login">
                <span class="reviews__login-message">You must be logged in to leave a review.</span>
                {% url 'login' as login_page_url %}
                {% button href=login_page_url label="Login" color="#393939" background_color="#88BDF2" %}
            </div>
        {% endif %}
    </section>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/product-images.js' %}"></script>
    <script src="{% static 'js/product-details-page.js' %}"></script>
{% endblock %}