{% extends 'common/base.html' %}
{% block content %}
    <main>
        <section class="heading">
            <h1 class="heading__title">Redefining Your Tech Experience</h1>
            <div class="heading__data-container">
                <p class="heading__data-label">
                    At Shop, we're redefining your tech experience by offering the latest and most innovative products.
                </p>
                <div class="heading__buttons-container">
                    <a>Browse Products</a>
                    <a>About Us</a>
                </div>
            </div>
        </section>
        <section class="featured-products">
            <h2>Featured Products</h2>
        </section>
        <section class="shop-by-category">
            <h2>Shop by Category</h2>
        </section>
    </main>
{% endblock %}