{% extends 'common/base.html' %}
{% load static %}
{% load button %}
{% load product_card %}
{% load category_card %}

{% block content %}
    <main>
        <section class="heading">
            <h1 class="heading__title">Redefining Your Tech Experience</h1>
            <div class="heading__data-container">
                <p class="heading__data-label">
                    At Shop, we're redefining your tech experience by offering the latest and most innovative products.
                </p>
                <div class="heading__buttons-container">
                    {% url 'catalog' as catalog_url %}
                    {% button href=catalog_url label="Browse Products" is_outline=False color="#FFFFFF" background_color="#5EB0FF" %}
                    {% url 'about-page' as about_page_url %}
                    {% button href=about_page_url label="About Us" is_outline=True color="#5EB0FF" %}
                </div>
            </div>
        </section>
        <section class="featured-products">
            <h2 class="featured-products__title">Featured Products</h2>
            <div class="featured-products__products-list">
                {% for product in featured_products %}
                    {% url 'product-details' product_slug=product.slug as product_url %}
                    {% product_card href=product_url product_name=product.name image=product.images.first.image.url price=product.price %}
                {% empty %}
                    <span>No products</span>
                {% endfor %}
            </div>
        </section>
        <section class="shop-by-category">
            <div class="shop-by-category__header-container">
                <h2 class="shop-by-category__title">Shop by Category</h2>
                <div class="shop-by-category__buttons-container">
                    <button id="category-scroll-left" class="shop-by-category__nav-button nav-button-left">
                        <i class="bi bi-arrow-left-circle-fill"></i>
                    </button>
                    <button id="category-scroll-right" class="shop-by-category__nav-button nav-button-right">
                        <i class="bi bi-arrow-right-circle-fill"></i>
                    </button>
                </div>
            </div>
            <div id="category-list" class="shop-by-category__category-list">
                {% for category in categories %}
                    {% category_card label=category.label category=category.value bg_image=category.bg_image is_disabled=category.has_products %}
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/home-page.js' %}"></script>
{% endblock %}