$darkBlue: #384959;
$mainBlue: #88BDF2;
$lightBlue: #BDDDFC;
$lightestBlue: #E6F3FF;
$grayBlue: #6A89A7;

$mainRed: #DD3B44;

$lightGray: #BDBDBD;
$labelGray: #707070;
$labelBlack: #393939;
$black: #000000;
$white: #FFFFFF;