@use "./colors";

// Common
@use "common/nav";
@use "common/home-page";
@use "common/about-page";
@use "common/contact-page";

// Accounts
@use "accounts/authentication";
@use "accounts/profile-page";
@use "accounts/edit-profile-page";
@use "accounts/delete-profile-page";

// Products
@use "products/catalog";
@use "products/product-form-page";
@use "products/product-details-page";

// Cart
@use "cart/cart-page";

// Orders
@use "orders/create-order-page";
@use "orders/orders";
@use "orders/order-details-page";

//Components
@use "components/button";
@use "components/checkbox";
@use "components/file-input";
@use "components/input";
@use "components/select";
@use "components/textarea";
@use "components/modal";
@use "components/category-card";
@use "components/product-card";
@use "components/review-card";
@use "components/cart-product-card";
@use "components/order-card";

// Error pages
@use "error-page";

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: colors.$lightestBlue;
}

*, *::before, *::after {
  box-sizing: border-box;
}