{% if href %}
    <a
       href="{{ href }}"
       class="button {% if is_outline %} button__outline {% else %} button__filled {% endif %} {% if is_small %} button__small {% endif %}"
       style="color: {{ color }}; {% if is_outline %} border-color: {{ color }}; {% else %} background-color: {{ background_color }}; {% endif %}"
    >
        {% if icon != "" %}
             <i class="{{ icon }}"></i>
        {% else %}
            {{ label }}
        {% endif %}
    </a>
{% else %}
    <button
       type="{{ button_type }}"
       class="button {% if is_outline %} button__outline {% else %} button__filled {% endif %} {% if is_small %} button__small {% endif %}"
       style="color: {{ color }}; {% if is_outline %} border-color: {{ color }}; {% else %} background-color: {{ background_color }}; {% endif %}"
       {% if is_disabled %} disabled {% endif %}
       {% if data_toggle %} data-bs-toggle="{{ data_toggle }}" {% endif %}
       {% if data_target %} data-bs-target="{{ data_target }}" {% endif %}
       {% if data_dismiss %} data-bs-dismiss="{{ data_dismiss }}" {% endif %}
    >
        {% if icon != "" %}
             <i class="{{ icon }}"></i>
        {% else %}
            {{ label }}
        {% endif %}
    </button>
{% endif %}
