{% if href %}
    <a
       href="{{ href }}"
       class="button {% if is_outline %} button__outline {% else %} button__filled {% endif %}"
       style="color: {{ color }}; {% if is_outline %} border-color: {{ color }}; {% else %} background-color: {{ background_color }}; {% endif %}"
       disabled="{{ is_disabled }}"
    >
        {{ label }}
    </a>
{% else %}
    <button
       type="{{ button_type }}"
       class="button {% if is_outline %} button__outline {% else %} button__filled {% endif %}"
       style="color: {{ color }}; {% if is_outline %} border-color: {{ color }}; {% else %} background-color: {{ background_color }}; {% endif %}"
       disabled="{{ is_disabled }}"
    >
        {{ label }}
    </button>
{% endif %}
