<div class="input mb-3">
    <label for="{{ id }}" class="input__label form-label">
        {{ label }}
        {% if is_required %}
            <span class="input__label-required">*</span>
        {% endif %}
    </label>
    <input
        id="{{ id }}"
        class="form-control{% if errors %} input__invalid{% endif %}"
        name="{{ name }}"
        type="{% if type == 'date' and disabled %}text{% else %}{{ type }}{% endif %}"
        placeholder="{{ placeholder }}"
        value="{% if type == 'date' %}{{ value|date:'d.m.Y' }}{% else %}{{ value|default_if_none:'' }}{% endif %}"
        {% if disabled %} disabled {% endif %}
    >
    {% if errors %}
        <div class="invalid-feedback d-block">
            {{ errors.0 }}
        </div>
    {% endif %}
</div>