{% load button %}
{% load form_components %}
{% load modal %}

<div class="review-card">
    {% if user == review.user %}
        <div class="review-card__buttons">
            <button data-review-id="{{ review.pk }}"  class="review-card__buttons-edit edit-review-button"><i class="bi bi-pencil-fill"></i></button>
            <button class="review-card__buttons-delete" data-bs-toggle="modal" data-bs-target="#{{ review.id }}"><i class="bi bi-x-circle"></i></button>
        </div>
        {% url 'review-delete' pk=review.pk as review_delete_url %}
        {% modal modal_id=review.id title="Delete review" subtitle="Are you sure you want to delete this review ?" action=review_delete_url confirm_label="Delete" confirm_button_color="#DD3B44" cancel_label="Cancel" %}
    {% endif %}
    <div class="review-card__header">
        {% if review.user.profile.profile_picture %}
            <img class="review-card__header-avatar" alt="profile image" src="{{ review.user.profile.profile_picture.url }}">
        {% else %}
            <i class="bi bi-person-circle"></i>
        {% endif %}
        <div class="review-card__header-data">
            <span class="review-card__header-data-author">
                {{ review.user.username }}
            </span>
            <span class="review-card__header-data-date">
                {{ review.created_at|date:"d.m.Y" }}
            </span>
        </div>
    </div>
    <p id="review-content-{{ review.pk }}" class="review-card__content">
        {{ review.content }}
    </p>
    <form id="edit-review-form-{{ review.pk }}" class="review-card__form" method="post" action="{% url 'review-edit' pk=review.pk %}">
        {% csrf_token %}
        {% with review_id=review.pk|stringformat:"s" %}
        {% custom_input input_type="text" field_id="review-"|add:review_id name="content" label="Edit review" value=review.content placeholder="Enter your review" %}
        {% endwith %}
        {% button button_type="submit" label="Edit" color="#FFFFFF" background_color="#5EB0FF" %}
        <button type="button" class="review-card__form-cancel cancel-edit-review-button" data-review-id="{{ review.pk }}">Cancel</button>
    </form>
</div>