{% load button %}

<div class="review-card">
    {% if user == review.user %}
        <div class="review-card__delete-button">
            <form method="post" action="{% url 'delete-review' pk=review.pk %}">
                {% csrf_token %}
                {% button button_type="submit" icon="bi bi-x-circle" is_small=True color="#ffffff" background_color="#dc3545" %}
            </form>
        </div>
    {% endif %}
    <div class="review-card__header">
        {% if review.user.profile.profile_picture %}
            <img class="review-card__header-avatar"
                 src="{{ review.user.profile.profile_picture }}"
                 alt="profile image"
            >
        {% endif %}
        <div class="review-card__header-data">
            <span class="review-card__header-data-author">
                {{ review.user.username }}
            </span>
            <span class="review-card__header-data-date">
                {{ review.created_at|date:"d M Y H:i" }}
            </span>
        </div>
    </div>
    <p class="review-card__content">
        {{ review.content }}
    </p>
</div>