{% extends 'common/base.html' %}
{% load form_components %}
{% load button %}

{% block content %}
    <main class="order-details">
        <div class="order-container">
            <div class="order-container__header">
                <h1 class="order-container__header-title">Order #{{ order.id }}</h1>
                <span class="order-container__header-date-label">Placed on: <span class="order-container__header-date-value">{{ order.created_at|date:"d.m.Y" }}</span></span>
            </div>
            <div class="order-container__status">
                {% if request.user.is_staff %}
                    <form method="post" action="{% url 'order-status-update' pk=order.pk %}">
                        {% csrf_token %}
                        {% custom_select field_id=order.id name="status" label="Status" value=order.status options=order_status_choices %}
                        {% button button_type="submit" label="Update" color="#FFFFFF" background_color="#5EB0FF" %}
                    </form>
                {% else %}
                    <span class="order-status order-status--{{ order.status }}">
                        {{ order.get_status_display }}
                    </span>
                {% endif %}
            </div>
            <div class="order-container__products">
                {% for item in order.items.all %}
                    <div class="order-container__products-product">
                        <div class="order-container__products-product-image">
                            <img src="{{ item.product.images.first.image.url }}" alt="{{ item.product.name }}"/>
                        </div>
                        <div class="order-container__products-product-data">
                            <span class="order-container__products-product-name">
                                {{ item.product.name }}
                            </span>
                            <span class="order-container__products-product-quantity">
                                x{{ item.quantity }}
                            </span>
                        </div>
                        <div class="order-container__products-product-price">
                            {{ item.price }}$
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="order-container__user-data">
                <h2 class="order-container__user-data-title">Personal data</h2>
                <div class="order-container__user-data-list">
                    <div class="user-data-row">
                        <span class="user-data-row-label">Name:</span>
                        <span class="user-data-row-value">{{ order.user.profile.first_name }} {{ order.user.profile.last_name }}</span>
                    </div>
                    <div class="user-data-row">
                        <span class="user-data-row-label">Email:</span>
                        <span class="user-data-row-value">{{ order.user.email }}</span>
                    </div>
                    <div class="user-data-row">
                        <span class="user-data-row-label">Username:</span>
                        <span class="user-data-row-value">{{ order.user.username }}</span>
                    </div>
                    <div class="user-data-row">
                        <span class="user-data-row-label">Address:</span>
                        <span class="user-data-row-value">{{ order.address}}</span>
                    </div>
                    <div class="user-data-row">
                        <span class="user-data-row-label">City:</span>
                        <span class="user-data-row-value">{{ order.city }}</span>
                    </div>
                    <div class="user-data-row">
                        <span class="user-data-row-label">Phone number:</span>
                        <span class="user-data-row-value">{{ order.phone_number }}</span>
                    </div>
                </div>
            </div>
            <div class="order-container__total">
                <span class="order-details__total-label">Total:</span>
                <strong class="order-details__total-value">{{ order.total_price }}$</strong>
            </div>
        </div>
    </main>
{% endblock %}