@use "../colors";

.orders {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  flex: 1;

  &__title {
    font-size: 32px;
    color: colors.$labelBlack;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;

    &-empty-message {
      font-size: 24px;
      font-weight: 400;
      color: colors.$labelBlack;
      text-align: center;
      flex: 1;
    }
  }
}